<h2>Customer List</h2>

{{#if customers}}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>ZIP</th>
                    <th>Phone</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {{#each customers}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{firstName}} {{lastName}}</td>
                    <td>{{email}}</td>
                    <td>{{address}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                    <td>{{zip}}</td>
                    <td>{{phone}}</td>
                    <td>
                        <a href="/customers/detail/{{this.id}}"> View </a>
                        |
                        <a href="/customers/edit/{{this.id}}"> Edit </a>
                        |
                        <a href="/customers/delete/{{this.id}}"> Delete </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{else}}
    <p class="alert alert-info">No customers found in the database.</p>
{{/if}}

<a href="/" class="btn btn-primary">Place Order</button>